<div class="preloader">
  <div class="loader">
  <div class="ytp-spinner">
  <div class="ytp-spinner-container">
  <div class="ytp-spinner-rotator">
  <div class="ytp-spinner-left">
  <div class="ytp-spinner-circle"></div>
  </div>
  <div class="ytp-spinner-right">
  <div class="ytp-spinner-circle"></div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>


 <app-navbar></app-navbar>
  <router-outlet> </router-outlet>



  <footer id="footer" class="footer_area">
  <div class="container">
  <div class="footer_wrapper text-center d-lg-flex align-items-center justify-content-between">
  <p class="credit">Designed and Developed by <a href="https://therichpost.com/" rel="nofollow">Jassa</a></p>
  <div class="footer_social pt-15">
  <ul>
  <li><a href="#"><i class="lni lni-facebook-original"></i></a></li>
  <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
  <li><a href="#"><i class="lni lni-instagram-original"></i></a></li>
  <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
  </ul>
  </div>
  </div>
  </div>
  </footer>


  <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

